<html>
<head>
	<meta charset="utf-8"/>

 	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	<!-- Twitter Favicon -->
	<link rel="icon" type="image/jpg" href="twitter-favicon.jpg"/>

	<!-- Script for Angular JS -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<!-- Loading the AngularJS file from /public/angularJS folder -->
	<script src="angularjs/login.js"></script>

	<title>Twitter</title>
</head>
<body ng-app="login" ng-controller="login">
	<div class="container-fluid">
		<div class="row" style="background-image:url('homeimage.jpg');">
			<div class="col-md-4">
				<a href='/homepage'><img src="twitter-logo.jpg" height="25" width="25" style="margin-top: 25px; margin-left: 20px;" /></a>
			</div>
			<div class="col-md-6" style="color: white; margin-bottom: 12px"><h2>See what’s happening right now.</h2></div>
			<div class="col-md-1" style="margin-top: 20px;">
			<p class="text-right">
				<button type="button" id="signin" class="btn btn-info" data-toggle="modal" data-target="#signinModal">Sign In</button>
			</p>
			</div>
		
			<div class="col-md-1" style="margin-top: 20px;">
			<p class="text-left">
				<button type="button" id="signup" class="btn btn-info" ng-click="signup();">Sign Up</button>
			</p>
			</div>
		</div>
	</div>

	<!-- SignIn Modal -->
	<div id="signinModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			
		<!-- SignIn Modal Content -->
			<div class="modal-content">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h3 class="moda-title">Login to Twitter</h3>
        		</div>
        		
        		<div class="modal-body">
         			<form role="form" name="loginform">
         				<div class="form-group">
         					<p class="text-center">
         						<img src="twitter-login.png" height="30" width="30" style="margin-right: 30px;" />
         					</p>
         				</div>
            			<div class="form-group">
            				<label for="email">Email</label>
              				<input type="email" class="form-control" id="email" placeholder="Enter email" 
              				ng-model="email" required>
              				<label ng-show="loginform.email.$dirty && loginform.email.$invalid">
              					<label ng-show = "loginform.email.$error.required">Email is required</label>
              					<label ng-show = "loginform.email.$error.email">Invalid email address</label>
              				</label>
            			</div>
            			<div class="form-group">
             				<label for="password">Password</label>
              				<input type="password" class="form-control" id="password" placeholder="Enter password" 
              				ng-model="password" required>
              				<label ng-show = "loginform.password.$error.required">Password is Required</label>
            			</div>
            			<div class="alert alert-danger" ng-hide="invalid_login">
              					<strong>Incorrect Details</strong>
              			</div>
              			<div class="alert alert-danger" ng-hide="unexpected_error">
							<strong>Unexpected error, try again</strong>
						</div>
            			<button type="submit" class="btn btn-info btn-block" ng-click="submit();">Log in</button>
          			</form>
        		</div>
        		
        		<div class="modal-footer">
          			<p class="text-center">Don't have an account? <a href="/signup">Sign Up >></a></p>
        		</div>
      		</div>
    	</div>
	</div>
</body>
</html>